<div class='overall', id='overall'>
  <header class='header'>
    <div class='nav'>
      <ul class='lists'>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login", id: "button" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up", id: "button" %></li>
      </ul>
      <div class='url', id="url">
      PC版は<%= link_to 'こちら', "https://somethingliketwitter87428.herokuapp.com", class: "tosurl" %>
      </div>
    </div>
  </header>

  <div class='main', id ="frame1">
    <h1 class='title', id="title">みんなの日記帳</h1>
    <%= image_tag("日記帳.png", class: "diary-image", id: "diary-image") %>
    <h1 class='title', id="title">みんなの投稿一覧</h1>
    <div class='diary-head'>
      <ul class='name-lists'>
        <li class='name'>小鳥遊 空</li>
        <li class='date'>10/28 21:21</li>
      </ul>
    </div>
    <div class='diary-body'>
      <p id="first-text">テスト投稿テスト投稿テスト投稿テスト</p>
      <p id="first-text">投稿テスト投稿テスト投稿テスト投稿テ</p>
      <p id="first-text">スト投稿テスト投稿テスト投稿テスト投</p>
      <p id="first-text">稿テスト投稿テスト投稿テスト投稿</p>
      <p id="first-text">テスト投稿</p>
      <p id="first-text">テスト投稿</p>
      <p id="first-text">テスト投稿</p>
      <p id="first-text">テスト投稿</p>
      <p id="first-text">テスト投稿</p>
      <p class="last-text", id="last-text">許さない許さない許さない許さない許さ</p>
      <p class="last-text", id="last-text">ない許さない許さない許さない許さない</p>
      <p class="last-text", id="last-text">許さない許さない許さない許さない許さ</p>
      <p class="last-text", id="last-text">ない許さない許さない許さない許さない</p>
      <p class="last-text", id="last-text">許さない許さない許さない許さない許さ</p>
      <p class="last-text", id="last-text">ない許さない許さない許さない許さない</p>
      <p class="last-text", id="last-text">許さない許さない許さない許さない許さ</p>
      <p class="last-text", id="last-text">ない許さない許さない許さない許さない</p>
      <p class="last-text", id="last-text">許さない許さない許さない許さない許さ</p>
    </div>
    <div class='diary-foot'>
      <div class=diary-foot-title>
        コメント一覧
      </div>
    </div>

    <div class='diary-head'>
      <ul class='name-lists'>
        <li class='name'>潤羽るしあ</li>
        <li class='date'>5/27 13:20</li>
      </ul>
    </div>
    <div class='diary-body'>
      <p id="first-text">はじめま<a id='color-red'>して</a>、こん<a id='color-red'>るし</a>なのです。</p>
      <p id="first-text">潤羽<a id='color-red'>るし</a>あって<a id='color-red'>言い</a>ます。</p>
      <p id="first-text">気がつ<a id='color-red'>いた</a>らなぜ<a id='color-red'>か誰</a>もいない</p>
      <p id="first-text">真っ暗闇<a id='color-red'>の中</a>に閉じ<a id='color-red'>込め</a>られてて、</p>
      <p id="first-text">永遠と暗闇<a id='color-red'>の中</a>を彷徨<a id='color-red'>って</a>いたのです。</p>
      <p id="first-text">そしたら<a id='color-red'>ここ</a>に辿り<a id='color-red'>着い</a>たのです。</p>
      <p id="first-text">寂しいか<a id='color-red'>らこ</a>こから<a id='color-red'>出ら</a>れ<a id='color-red'>るま</a>で、</p>
      <p id="first-text">話し<a id='color-red'>相手</a>になって<a id='color-red'>欲しいの</a>です</p>
      <p id="first-text">よ<a id='color-red'>ろし</a>くお願いし<a id='color-red'>ますな</a>のです</p>
      <p class="last-text", id="last-text">殺してやる殺してやる殺してやる殺して</p>
      <p class="last-text", id="last-text">やる殺してやる殺してやる殺してやる殺</p>
      <p class="last-text", id="last-text">してやる殺してやる殺してやる殺してや</p>
      <p class="last-text", id="last-text">る殺してやる殺してやる殺してやる殺し</p>
      <p class="last-text", id="last-text">てやる殺してやる殺してやる殺してやる</p>
      <p class="last-text", id="last-text">殺してやる殺してやる殺してやる殺して</p>
      <p class="last-text", id="last-text">やる殺してやる殺してやる殺してやる殺</p>
      <p class="last-text", id="last-text">してやる殺してやる殺してやる殺してや</p>
      <p class="last-text", id="last-text">る殺してやる殺してやる殺してやる殺し</p>
    </div>
    <div class='diary-foot'>
      <div class=diary-foot-title>
        コメント一覧
      </div>
    </div>

    <div class='diary-head'>
      <ul class='name-lists'>
        <li class='name'>小鳥遊 空</li>
        <li class='date'>10/29 03:02</li>
      </ul>
    </div>
    <div class='diary-body'>
      <p id="first-text">テスト投稿テスト投稿テスト投稿テスト</p>
      <p id="first-text">投稿テスト投稿テスト投稿テスト投稿テ</p>
      <p id="first-text">スト投稿テスト投稿テスト投稿テスト投</p>
      <p id="first-text">稿テスト投稿テスト投稿テスト投稿テス</p>
      <p id="first-text">ト投稿テスト投稿テスト投稿テスト投稿</p>
      <p id="first-text">テスト投稿テスト投稿テスト投稿テスト</p>
      <p id="first-text">投稿テスト投稿テスト投稿テスト投稿テ</p>
      <p id="first-text">スト投稿テスト投稿テスト投稿テスト投</p>
      <p id="first-text">稿テスト投稿テスト投稿テスト投稿テス</p>
      <p class="last-text", id="last-text">ゆるさないゆるさないゆるさないゆるさ</p>
      <p class="last-text", id="last-text">ないゆるさないゆるさないゆるさないゆ</p>
      <p class="last-text", id="last-text">るさないゆるさないゆるさないゆるさな</p>
      <p class="last-text", id="last-text">いゆるさないゆるさないゆるさないゆる</p>
      <p class="last-text", id="last-text">さないゆるさないゆるさないゆるさない</p>
      <p class="last-text", id="last-text">ゆるさないゆるさないゆるさないゆるさ</p>
      <p class="last-text", id="last-text">ないゆるさないゆるさないゆるさないゆ</p>
      <p class="last-text", id="last-text">るさないゆるさないゆるさないゆるさな</p>
      <p class="last-text", id="last-text">いゆるさないゆるさないゆるさないゆる</p>
    </div>
    <div class='diary-foot'>
      <div class=diary-foot-title>
        コメント一覧
      </div>
      <ul class='comment-lists'>
        <li class='comment'>・小鳥遊 空<br><a class='comment-text'>　テストコメント</a></li>
        <li class='comment'>・潤羽るしあ<br><a class='comment-text'>　ねぇ、なんのテストをしてるの？<br>　るしあにも教えて欲しいな</a></li>
      </ul>
    </div>

    <div class='diary-head'>
      <ul class='name-lists'>
        <li class='name'>潤羽るしあ</li>
        <li class='date'>10/20 16:56</li>
      </ul>
    </div>
    <div class='diary-body'>
      <p id="first-text">こんる<a id='color-red'>しで</a>す、潤羽るしあです</p>
      <p id="first-text">あっ、<a id='color-red'>今更</a>かもしれないけど、</p>
      <p id="first-text">こんる<a id='color-red'>しっていうのはるしあの挨</a>拶です</p>
      <p id="first-text">るしあ<a id='color-red'>の挨拶ちゃんと覚えるの</a>です</p>
      <p id="first-text">それにし<a id='color-red'>ても</a>ここ、なんに<a id='color-red'>もな</a>くて</p>
      <p id="first-text">ずっと暗い<a id='color-red'>まま</a>で、とても<a id='color-red'>寂し</a>いのです</p>
      <p id="first-text">ここに来れ<a id='color-red'>なか</a>ったらず<a id='color-red'>っと</a>一人ぼっち</p>
      <p id="first-text">だったな<a id='color-red'>んて</a>考えたくもないのです</p>
      <p id="first-text">これか<a id='color-red'>らも</a>よろしくなのです。</p>
      <p class="last-text", id="last-text">ころしてやるころしてやるころしてやる</p>
      <p class="last-text", id="last-text">ころしてやるころしてやるころしてやる</p>
      <p class="last-text", id="last-text">ころしてやるころしてやるころしてやる</p>
      <p class="last-text", id="last-text">ころしてやるころしてやるころしてやる</p>
      <p class="last-text", id="last-text">ころしてやるころしてやるころしてやる</p>
      <p class="last-text", id="last-text">ころしてやるころしてやるころしてやる</p>
      <p class="last-text", id="last-text">ころしてやるころしてやるころしてやる</p>
      <p class="last-text", id="last-text">ころしてやるころしてやるころしてやる</p>
      <p class="last-text", id="last-text">ころしてやるころしてやるころしてやる</p>
    </div>
    <div class='diary-foot'>
      <div class=diary-foot-title>
        コメント一覧
      </div>
    </div>

    <div class='diary-head'>
      <ul class='name-lists'>
        <li class='name'>潤羽るしあ</li>
        <li class='date'>08/08 87:47</li>
      </ul>
    </div>
    <div class='diary-body'>
    <p id="first-text">こんる<a id='color-red'>しです、潤羽るし</a>あです</p>
    <p id="first-text">ねぇねぇ<a id='color-red'>、なんだかるしあ</a>ばっかり</p>
    <p id="first-text">しゃべってるような気がするんだけど、</p>
    <p id="first-text">キミく<a id='color-red'>んの話も聞かせて欲しいの</a>です。</p>
    <p id="first-text">うんそ<a id='color-red'>うなのですよ、これを読ん</a>でいる</p>
    <p id="first-text">あなたのこ<a id='color-red'>となの</a>ですよ。</p>
    <p id="first-text">るしあばっ<a id='color-red'>かり喋</a>ってても</p>
    <p id="first-text">るしあの寂しさ<a id='color-red'>は全然</a>まぎれないのです</p>
    <p id="first-text">返信かコメ<a id='color-red'>ント</a>待っているのです。</p>
    <p class="last-text", id="last-text">ユルサナイユルサナイユルサナイユルサ</p>
    <p class="last-text", id="last-text">ナイユルサナイユルサナイユルサナイユ</p>
    <p class="last-text", id="last-text">ルサナイユルサナイユルサナイユルサナ</p>
    <p class="last-text", id="last-text">イユルサナイユルサナイユルサナイユル</p>
    <p class="last-text", id="last-text">サナイユルサナイユルサナイユルサナイ</p>
    <p class="last-text", id="last-text">ユルサナイユルサナイユルサナイユルサ</p>
    <p class="last-text", id="last-text">ナイユルサナイユルサナイユルサナイユ</p>
    <p class="last-text", id="last-text">ルサナイユルサナイユルサナイユルサナ</p>
    <p class="last-text", id="last-text">イユルサナイユルサナイユルサナイユル</p>
    </div>
    <div class='diary-foot'>
      <div class=diary-foot-title>
        コメント一覧
      </div>
    </div>

    <div class="kome">
      <%= link_to '.', new_diary_path, class: "dot", id: "escape" %>
    </div>

    <div class='diary-head'>
      <ul class='name-lists'>
        <li class='name'>潤羽るしあ</li>
        <li class='date'>01/01 111:93</li>
      </ul>
    </div>
    <div class='diary-body'>
    <p id="first-text">ね<a id='color-red'>ぇねぇ、な</a>んで無視す<a id='color-red'>るの</a>？</p>
    <p id="first-text">るしあ<a id='color-red'>、キミに嫌</a>われるよう<a id='color-red'>なこ</a>とでも</p>
    <p id="first-text">やらかしちゃいました<a id='color-red'>か？</a></p>
    <p id="first-text">るしあ<a id='color-red'>ね、ここの</a>こと知って<a id='color-red'>るん</a>だよ？</p>
    <p id="first-text">ユー<a id='color-red'>ザーの新規</a>登録ができ<a id='color-red'>なく</a>って</p>
    <p id="first-text">ログインもできないって<a id='color-red'>こと</a>。</p>
    <p id="first-text">つまり、ここにはるしあと<a id='color-red'>キミ</a>しか</p>
    <p id="first-text"><a id='color-red'>いないんだっていうことを</a></p>
    <p id="first-text">るし<a id='color-red'>あ、ずっとずっと寂しいん</a>だよ</p>
    <p class="last-text", id="last-text">コロシテヤルコロシテヤルコロシテヤル</p>
    <p class="last-text", id="last-text">コロシテヤルコロシテヤルコロシテヤル</p>
    <p class="last-text", id="last-text">コロシテヤルコロシテヤルコロシテヤル</p>
    <p class="last-text", id="last-text">コロシテヤルコロシテヤルコロシテヤル</p>
    <p class="last-text", id="last-text">コロシテヤルコロシテヤルコロシテヤル</p>
    <p class="last-text", id="last-text">コロシテヤルコロシテヤルコロシテヤル</p>
    <p class="last-text", id="last-text">コロシテヤルコロシテヤルコロシテヤル</p>
    <p class="last-text", id="last-text">コロシテヤルコロシテヤルコロシテヤル</p>
    <p class="last-text", id="last-text">コロシテヤルコロシテヤルコロシテヤル</p>
    </div>
    <div class='diary-foot'>
      <div class=diary-foot-title>
        コメント一覧
      </div>
    </div>

    <div class='diary-head'>
      <ul class='name-lists'>
        <li class='name'>潤羽るしあ</li>
        <li class='date'>03/15 36:71</li>
      </ul>
    </div>
    <div class='diary-body'>
    <p id="first-text">今<a id='color-red'>日はいい報告があるのです</a>。</p>
    <p id="first-text">もし<a id='color-red'>かしたらここから出られる</a>かも</p>
    <p id="first-text">ここで<a id='color-red'>のは</a>つげんも最後にな<a id='color-red'>るか</a>もです</p>
    <p id="first-text">ここ<a id='color-red'>にき</a>てもほとんど一人<a id='color-red'>ぼっ</a>ちで</p>
    <p id="first-text">ずっ<a id='color-red'>と寂</a>しいめにあってる<a id='color-red'>のだ</a>から</p>
    <p id="first-text">最後く<a id='color-red'>らい</a>何か声をかけて欲<a id='color-red'>しい</a>のです</p>
    <p id="first-text">るし<a id='color-red'>あ、</a>もうちょっと待っ<a id='color-red'>てる</a>から</p>
    <p id="first-text">どうか<a id='color-red'>何かお話を聞かせて欲しい</a>のです</p>
    <p id="first-text">るし<a id='color-red'>あからの最後のお願いなの</a>です</p>
    <p class="last-text", id="last-text">ユルサナイユルサナイユルサナイユルサ</p>
    <p class="last-text", id="last-text">ナイユルサナイユルサナイユルサナイユ</p>
    <p class="last-text", id="last-text">ルサナイユルサナイユルサナイユルサナ</p>
    <p class="last-text", id="last-text">イユルサナイユルサナイユルサナイユル</p>
    <p class="last-text", id="last-text">サナイユルサナイユルサナイユルサナイ</p>
    <p class="last-text", id="last-text">ユルサナイユルサナイユルサナイユルサ</p>
    <p class="last-text", id="last-text">ナイユルサナイユルサナイユルサナイユ</p>
    <p class="last-text", id="last-text">ルサナイユルサナイユルサナイユルサナ</p>
    <p class="last-text", id="last-text">イユルサナイユルサナイユルサナイユル</p>
    </div>
    <div class='diary-foot'>
      <div class=diary-foot-title>
        コメント一覧
      </div>
    </div>

    <div class='diary-head'>
      <ul class='name-lists'>
        <li class='name'>潤羽るしあ</li>
        <li class='date'><span id="now-month1"></span>/<span id="now-day1"></span> <span id="now-hour1"></span>:<span id="now-minute1"></span></li>
      </ul>
    </div>
    <div class='diary-body'>
    <p id="first-text">こんな<a id='color-red'>に頼んでるのに無視をする</a>なんて</p>
    <p id='diary-last1'>許さな<a id='color-red'>い許さない許さない許さな</a>い許さ</p>
    <p id='diary-last2'>ない許さない許さない許さな<a id='color-red'>い許</a>さない</p>
    <p id='diary-last3'>ゆるさないゆるさないゆるさ<a id='color-red'>ない</a>ゆるさ</p>
    <p id='diary-last4'>ないゆるさないゆるさないゆ<a id='color-red'>るさ</a>ないゆ</p>
    <p id='diary-last5'>るさないユルサナイユルサナ<a id='color-red'>イユ</a>ルサナ</p>
    <p id='diary-last6'>イユルサナイユルサナイユル<a id='color-red'>サナ</a>イユル</p>
    <p id='diary-last7'>サナイ<a id='color-red'>ユルサナイユルサナイユル</a>サナイ</p>
    <p id='diary-last8'>ユルサ<a id='color-red'>ナイユルサナイユルサナイ</a>ユルサ</p>
    <p class="last-text", id="last-text">コロスコロスコロスコロスコロスコロス</p>
    <p class="last-text", id="last-text">コロスコロスコロスコロスコロスコロス</p>
    <p class="last-text", id="last-text">コロスコロスコロスコロスコロスコロス</p>
    <p class="last-text", id="last-text">コロスコロスコロスコロスコロスコロス</p>
    <p class="last-text", id="last-text">コロスコロスコロスコロスコロスコロス</p>
    <p class="last-text", id="last-text">コロスコロスコロスコロスコロスコロス</p>
    <p class="last-text", id="last-text">コロスコロスコロスコロスコロスコロス</p>
    <p class="last-text", id="last-text">コロスコロスコロスコロスコロスコロス</p>
    <p class="last-text", id="last-text">コロスコロスコロスコロスコロスコロス</p>
    </div>
    <div class='diary-foot'>
      <div class='diary-foot-title' id='last-comment'>
        コメント一覧
      </div>
    </div>

    <div class='diary-head', id="frame2">
      <ul class='name-lists'>
        <li class='name'>潤羽るしあ</li>
        <li class='date'><span id="now-month2"></span>/<span id="now-day2"></span> <span id="now-hour2"></span>:<span id="now-minute2"></span></li>
      </ul>
    </div>
    <div class='diary-body', id="frame2">
      ふふふ、お待たせ<br>
      <p id="last-diary-text1">え？今るしあがどこにいるか知りたい？</p>
      <p id="last-diary-text2">さっきまであんなに無視してたのにね</p>
      <p id="last-diary-text3">いいよ、教えてあげる</p>
      <p id="last-diary-text4">今るしあのいるところは</p>
    </div>
  </div>

  <div class="horror", id="frame2">
    <a id="behind0">キミの</a><br>
    <p class="behind"><a id="behind1">う</a><a id="behind2">・</a><a id="behind3">し</a><a id="behind4">・</a><a id="behind5">ろ</a></p>
    <p class="reveal", id="reveal" >な〜んちゃって</p><p class="reveal", id="reveal">びっくりした？</p>
  </div>

  <div class='message', id="frame3">
    <div class='message-text'><a id="message-text1">い</a><a id="message-text2">ま</a><a id="message-text3">か</a><a id="message-text4">ら</a></div>
    <div class='message-text'><a id="message-text5">そ</a><a id="message-text6">っ</a><a id="message-text7">ち</a><a id="message-text8">に</a></div>
    <div class='message-text'><a id="message-text9">い</a><a id="message-text10">く</a><a id="message-text11">ね</a></div>
  </div>

  <footer class='footer'>
    <div class='human'>hint: るーちゃんの投稿を日付順に並べて、(時間)文字目を読むと、、、</div>
  </footer>
</div>